<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454613541707-0bk2uvdnjcu9i0c2rog6jbfg2bgcr54j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454613541707-0bk2uvdnjcu9i0c2rog6jbfg2bgcr54j</string>
	<key>API_KEY</key>
	<string>AIzaSyDIoDk-7Ch-2K0BLRAgKlk_tHd6d1Z8RGY</string>
	<key>GCM_SENDER_ID</key>
	<string>454613541707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uiPmfby</string>
	<key>PROJECT_ID</key>
	<string>bimayojana</string>
	<key>STORAGE_BUCKET</key>
	<string>bimayojana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454613541707:ios:a41bc8d4aa9a9126bcfece</string>
</dict>
</plist>